<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcohc.terminator.sample.features.detail">

    <application>
        <activity
            android:name="com.marcohc.terminator.sample.features.detail.DetailActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
